*{
	margin: 0;
	padding: 0;
} 
.wrapper{ 
width: 1170px;
margin: auto;
}
header{
	background: url("11.jpg"); 
	height: 110vh;
	-webkit-background-size: cover;
	background-size: cover; 
	background-position: center center;
	position: relative;
}

.nav-area{
	float:right; 
	list-style: none;
	margin-top: 30px;
}
.nav-area li{
	display: inline-block; 
}
.nav-area li a{
	color: #fff;
	text-decoration: none; 
	padding: 10px 30px;
	font-family: poppins;
	font-size: 20px;
}
.nav-area li a:hover{
	background: #A9A2BF; 
	color: #fff;
}
.logo img{
	width: 100px;
	float: left;
	height: auto;
	border-style: outset ;
}
body {
	margin: 0; 
	padding: 0; 
}
body:before{
	content:'';
	position: fixed; 
	width: 100vw; 
	height: 100vh; 
	background-image: url("8.jpg");
	background-position: center center ;
	background-repeat: no-repeat; 
	background-attachment: fixed;
	-webkit-background-size: cover; 
	background-size:cover;
}
.welcome{
	position:absolute; 
	top: 61%; 
	left:50%; 
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	-ms-transform: translate(-50%, -50%); 
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-45%);
	width: 400px; 
	height: 625px; 
	padding: 80px 40px;
	background:url("2.jpg"); 
}

.welcome h2{
	margin: 10; 
	padding: 5 10 15px; 
	color: #fff;
	text-align: center; 
	text-transform: uppercase;
}

.welcome h3{
	margin: 5;
	padding: 0 0 0 px; 
	font-weight: bold; 
	color: #fff;
	text-align: center; 
	text-transform:uppercase;
}
.welcome h4{
	margin:5; 
	padding: 10 30 60px; 
	color: #fff; 
	text-align: center; 
	text-transform:uppercase; 
}

.retour-accueil a{
	border: 1px solid #fff; 
	padding: 30px 45px; 
	text-decoration: none; 
	text-align: center;
	text-transform: uppercase; 
	font-size: 40px;
	margin-top: 25px; 
	display: inline-block; 
	color: #fff;
	width: 80%;
}

.retour-accueil a:hover{
	background: #A9A2BF; 
	color: #fff;
}
.retour-connexion a{
	border: 1px solid #fff; 
	padding: 30px 45px; 
	text-decoration: none; 
	text-align: center;
	text-transform: uppercase; 
	font-size: 10px;
	margin-top: 25px; 
	display: inline-block; 
	color: #fff;
	width: 80%;
}

.retour-connexion a:hover{
	background: #A9A2BF; 
	color: #fff;
}



