*{
	margin: 0;
	padding: 0;
} 
.wrapper{ 
width: 1170px;
margin: auto;
}
header{
	background: url("8.jpg"); 
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover; 
	background-position: center center;
	position: relative;
}

.nav-area{
	float:right; 
	list-style: none;
	margin-top: 30px;
}
.nav-area li{
	display: inline-block; 
}
.nav-area li a{
	color: #fff;
	text-decoration: none; 
	padding: 10px 30px;
	font-family: poppins;
	font-size: 20px;
}
.nav-area li a:hover{
	background: #FAD180; 
	color: #fff;
}
.logo img{
	width: 100px;
	float: left;
	height: auto;
	border-style: outset ;
}
body {
	margin: 0; 
	padding: 0; 
}
body:before{
	content:'';
	position: fixed; 
	width: 100vw; 
	height: 100vh; 
	background-image: url("8.jpg");
	background-position: center center ;
	background-repeat: no-repeat; 
	background-attachment: fixed;
	-webkit-background-size: cover; 
	background-size:cover;
}
.forget{
	position:absolute; 
	top: 61%; 
	left:50%; 
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	-ms-transform: translate(-50%, -50%); 
	-o-transform: translate(-50%,-50%);
	transorm: translate(-50%,-50%);
	width: 400px; 
	height: 550px; 
	padding: 80px 40px;
	background:url("4.jpg"); 
}

.forget h2{
	margin: 10; 
	padding: 10 30 60px; 
	color: #fff;
	text-align: center; 
	text-transform: uppercase;
}

.forget p{
	margin: 20;
	padding: 10; 
	font-weight: bold; 
	color: #fff;
	text-align: left;
}

.forget h3{
	margin: 0;
	padding: 0 0 20 px; 
	font-weight: bold; 
	color: #fff;
}
	
.forget input{
	width: 100%;
	margin-bottom: 35px;
}

.forget input[type=email] {
	border:none; 
	border-bottom: 1px solid #fff; 
	background: transparent; 
	outline: none; 
	height: 35px;
	color: #fff; 
	font-size: 18px;
}
.forget input:required{
}
.forget input:focus:invalid, textarea:focus:invalid{
border-color: #FF0000;
background-image:none; 
}
.forget input:focus:valid, textarea:focus:valid{
border-color: #56C93F;
background-image:none; 
}
.forget input[type=submit]{
	height: 50px;
	color: #fff;
	font-size: 20px; 
	background: #F4A460;
	cursor: pointer; 
	border-radius: 35px;
	border:none; 
	outline: none; 
	margin-top: 8%;
}
.retour-accueil a{
	border: 1px solid #fff; 
	padding: 20px 35px; 
	text-decoration: none; 
	text-align: center;
	text-transform: uppercase; 
	font-size: 5px;
	margin-top: 15px; 
	display: inline-block; 
	color: #fff;
	width: 80%;
}

.retour-accueil a:hover{
	background: #F4A460; 
	color: #fff;
}


